<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select a Graph</title>
</head>
<body>
    <h1>Select a Graph</h1>
    <ul>
        <li><a href="/Temperature(F)">Temperature</a></li>
        <li><a href="/Salinity">Salinity</a></li>
        <li><a href="/Dissolved Oxygen">Dissolved Oxygen</a></li>
        <li><a href="/pH">pH</a></li>
        <li><a href="/Conductivity">Conductivity</a></li>
        <li><a href="/Turbidity">Turbidity</a></li>
    </ul>
</body>
</html>
